NEXT_PUBLIC_APP_NAME=TEKMESIS
NEXT_PUBLIC_APP_BASE_URL=http://localhost:3000
NEXT_PUBLIC_APP_VERSION=0.1.0
NEXT_PUBLIC_AXIA4_DIGITAL_URL=https://axia4.ch/digital

OPENALEX_BASE_URL=https://api.openalex.org
CROSSREF_BASE_URL=https://api.crossref.org
EUROPE_PMC_BASE_URL=https://www.ebi.ac.uk/europepmc/webservices/rest
NCBI_EUTILS_BASE_URL=https://eutils.ncbi.nlm.nih.gov/entrez/eutils
NCBI_API_KEY=
NCBI_TOOL=TEKMESIS
NCBI_EMAIL=
SEMANTIC_SCHOLAR_API_KEY=

ANTHROPIC_API_KEY=
AI_EXTRACTION_ENABLED=false
AI_MODEL=
AI_MAX_INPUT_CHARS=24000
AI_TIMEOUT_MS=20000
AI_MAX_RETRIES=2

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_PRICE_ID_MVP_01=
STRIPE_MODE=test
REPORT_PRICE_MINOR=990
REPORT_CURRENCY=CHF
REPORT_PRICE_VERSION=MVP-01

EMAIL_PROVIDER=
EMAIL_API_KEY=
EMAIL_FROM=
SUPPORT_EMAIL=support@tekmesis.com

ADMIN_EMAILS=
ADMIN_AUTH_SECRET=

RATE_LIMIT_SECRET=
LOG_REDACTION_SALT=
FREE_SEARCH_LIMIT=

NEXT_PUBLIC_ANALYTICS_ENABLED=false
NEXT_PUBLIC_ANALYTICS_PROVIDER=
NEXT_PUBLIC_ANALYTICS_SITE_ID=

SENTRY_DSN=
NEXT_PUBLIC_SENTRY_DSN=
